<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="service-detail transition fadeIn" data-transition-duration="1s" data-transition-delay="0">
        <class class="row">
          <class class="col-md-2 some-icons">
            <img src="assets/home-caregiver.png"></img>
          </class>
          <class class="col-md-10">
            <h5 class="service-title">Home Caregiver</h5>
            <p class="service-description">
              We're seeking a resourceful, inspired, and innovative UX Stragist skilled in the art of creating frictionless experiences.
            </p>
          </class>
        </class>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-detail transition fadeIn" data-transition-duration="1s" data-transition-delay="0.2s">
        <class class="row">
          <class class="col-md-2 some-icons">
            <img src="assets/housekeeper.png"></img>
          </class>
          <class class="col-md-10">
            <h5 class="service-title">Housekeepers</h5>
            <p class="service-description">
              We're seeking a resourceful, inspired, and innovative UX Stragist skilled in the art of creating frictionless experiences.
            </p>
          </class>
        </class>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-detail transition fadeIn" data-transition-duration="1s" data-transition-delay="0.4s">
        <class class="row">
          <class class="col-md-2 some-icons">
            <img src="assets/factory.png"></img>
          </class>
          <class class="col-md-10">
            <h5 class="service-title">Factory Workers</h5>
            <p class="service-description">
              We're seeking a resourceful, inspired, and innovative UX Stragist skilled in the art of creating frictionless experiences.
            </p>
          </class>
        </class>
      </div>
    </div>
  </div>
  <div class="row" id="services-row-two">
    <div class="col-md-4">
      <div class="service-detail">
        <class class="row">
          <class class="col-md-2 some-icons">
            <img src="assets/hospital.png"></img>
          </class>
          <class class="col-md-10">
            <h5 class="service-title">Hospital Caregivers</h5>
            <p class="service-description">
              We're seeking a resourceful, inspired, and innovative UX Stragist skilled in the art of creating frictionless experiences.
            </p>
          </class>
        </class>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-detail">
        <class class="row">
          <class class="col-md-2 some-icons">
            <img src="assets/construction.png"></img>
          </class>
          <class class="col-md-10">
            <h5 class="service-title">Construction Worker</h5>
            <p class="service-description">
              We're seeking a resourceful, inspired, and innovative UX Stragist skilled in the art of creating frictionless experiences.
            </p>
          </class>
        </class>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-detail">
        <class class="row">
          <class class="col-md-2 some-icons">
            <img src="assets/fisher.png"></img>
          </class>
          <class class="col-md-10">
            <h5 class="service-title">Agriculture Workers</h5>
            <p class="service-description">
              We're seeking a resourceful, inspired, and innovative UX Stragist skilled in the art of creating frictionless experiences.
            </p>
          </class>
        </class>
      </div>
    </div>
  </div>
</div>