<%= render "layouts/navbar" %>
<div id="services-header" class="header transition fadeIn" data-transition-duration="1s">
  <div class="page-title-container">
    <h1 class="page-title">Powered by People</h1>
  </div>
</div>