<div class="container-fluid transition fadeIn"
  data-transition-duration="2s" id="recruitment-container">
  <div class="row">
    <div id="recruitment-img-wrapper" class="col-md-8">
      <%= image_tag "training-center.JPG", id:"recruitment-img" %>
    </div>
    <div id="recruitment-description" class="col-md-4">
      <h3>Get workers ready</h3>
      <div class="recruitment-detail row">
        <div class="col-md-1">
          <span class="number">1</span>
        </div>
        <div class="col-md-11">
          <span class="detail">Submit personal information</span>
        </div>
      </div>

      <div class="recruitment-detail row">
        <div class="col-md-1">
          <span class="number">2</span>
        </div>
        <div class="col-md-11">
          <span class="detail">Validate the provided information</span>
        </div>
      </div>

      <div class="recruitment-detail row">
        <div class="col-md-1">
          <span class="number">3</span>
        </div>
        <div class="col-md-11">
          <span class="detail">Health check</span>
        </div>
      </div>

      <div class="recruitment-detail row">
        <div class="col-md-1">
          <span class="number">4</span>
        </div>
        <div class="col-md-11">
          <span class="detail">Skill sets and language test</span>
        </div>
      </div>

      <div class="recruitment-detail row">
        <div class="col-md-1">
          <span class="number">5</span>
        </div>
        <div class="col-md-11">
          <span class="detail">Online and on-site screening from potential employers</span>
        </div>
      </div>

      <div class="recruitment-detail row">
        <div class="col-md-1">
          <span class="number">6</span>
        </div>
        <div class="col-md-11">
          <span class="detail">Signing contract and  working abroad application</span>
        </div>
      </div>

      <div class="recruitment-detail row">
        <div class="col-md-1">
          <span class="number">7</span>
        </div>
        <div class="col-md-11">
          <span class="detail">Payment for training and documentation</span>
        </div>
      </div>
    </div>
  </div>
</div>