<div class="container no-margin no-padding transition fadeIn"
  data-transition-duration="3s" id="recruitment-to-deployment-container">
  <div id="recruitment-to-deployment" class="row no-margin">
    <div id="recruitment-img" class="col-md-8">
    </div>
    <div id="recruitment-description" class="col-md-4">
      <h3>Get workers ready</h3>
      <div class="recruitment-detail">
        <div>
          <span class="number">1</span>
        </div>
        <div>
          <span class="detail">Submit personal information</span>
        </div>
      </div>

      <div class="recruitment-detail">
        <div>
          <span class="number">2</span>
        </div>
        <div>
          <span class="detail">Validate the provided information</span>
        </div>
      </div>

      <div class="recruitment-detail">
        <div>
          <span class="number">3</span>
        </div>
        <div>
          <span class="detail">Health check</span>
        </div>
      </div>

      <div class="recruitment-detail">
        <div>
          <span class="number">4</span>
        </div>
        <div>
          <span class="detail">Skill sets and language test</span>
        </div>
      </div>

      <div class="recruitment-detail">
        <div>
          <span class="number">5</span>
        </div>
        <div>
          <span class="detail">Online and on-site screening from potential employers</span>
        </div>
      </div>

      <div class="recruitment-detail">
        <div>
          <span class="number">6</span>
        </div>
        <div>
          <span class="detail">Signing contract and  working abroad application</span>
        </div>
      </div>

      <div class="recruitment-detail">
        <span class="number">7</span>
        <span class="detail">Payment for training and documentation</span>
      </div>
    </div>
  </div>
</div>