<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="recruit-titles transition fadeIn" data-transition-offset="10">
        <h2>Join our team</h2>
        <h6>LEARN HOW TO</h6>
      </div>
    </div>
    <div class="col-md-8">
      <div class="recruit-instructions">
        <div class="instruction-detail transition fadeIn"
          data-transition-duration="0.5s" data-transition-delay="0.1s" data-transition-offset="10">
          <span class="rounded-number">1</span>
          <span class="instruction">Submit personal information</span>
        </div>
        <div class="instruction-detail transition fadeIn"
          data-transition-duration="0.5s" data-transition-delay="0.2s" data-transition-offset="10">
          <span class="rounded-number">2</span>
          <span class="instruction">Health check</span>
        </div>
        <div class="instruction-detail transition fadeIn"
          data-transition-duration="0.5s" data-transition-delay="0.3s" data-transition-offset="10">
          <span class="rounded-number">3</span>
          <span class="instruction">Online and on-site screening from potential employers</span>
        </div>
        <div class="instruction-detail transition fadeIn"
          data-transition-duration="0.5s" data-transition-delay="0.4s" data-transition-offset="10">
          <span class="rounded-number">4</span>
          <span class="instruction">Verify provided information</span>
        </div>
        <div class="instruction-detail transition fadeIn"
          data-transition-duration="0.5s" data-transition-delay="0.5s" data-transition-offset="10">
          <span class="rounded-number">5</span>
          <span class="instruction">Skill sets and language test</span>
        </div>
        <div class="instruction-detail transition fadeIn"
          data-transition-duration="0.5s" data-transition-delay="0.6s" data-transition-offset="10">
          <span class="rounded-number">6</span>
          <span class="instruction">Submit personal information</span>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>