<%= render "header" %>
<!-- <div class="page-content transition fadeIn" data-transition-duration="1s" id="service-page-content"> -->
	<%= render "categories" %>
	<%= render "recruitment" %>
	<%= render "join_us" %>
<!-- </div> -->