<%= render "header" %>
<div class="page-content transition fadeIn" data-transition-duration="2s"  id="service-page-content">
	<%= render "categories" %>
	<%= render "recruitment" %>
	<%= render "become_partner" %>
</div>