<div class="flex-wrapper">
  <div class="become-our-partner" class="instruction-detail transition fadeIn"
    data-transition-offset="50" data-transition-delay="0.5s">
    <div class="flex-wrapper">
      <h2>Become our partner today</h2>
    </div>
    <div class="flex-wrapper" id="become-partner-text">
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
      </p>
    </div>
    <div class="flex-wrapper">
      <div class="three-sided-border-container" id="join-button">
        <%=link_to "Join the partnership", "contact", class: "three-sided-border" %>
      </div>
    </div>
  </div>
</div>