<div id="become-our-partner" class="instruction-detail transition fadeIn"
  data-transition-offset="50" data-transition-delay="0.5s">
  <h1>Become our partner today</h1>
  <p>
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
  </p>
  <div class="three-sided-border-container" id="join-button">
    <a class="three-sided-border">Join the partnership</a>
  </div>
</div>