<!-- <div class="container-wrapper"> -->
  <div class="container-fluid transition fadeIn" data-transition-duration="2s" data-transition-offset="100" id="partnership-container">
  <!-- <div class="container-fluid" id="partnership-container"> -->
    <div id="establish-partnership" class="row">
      <div id="partnership-description" class="col-md-4">
        <h3>Establish partnership with us.</h3>
        <div class="partner-detail">
          <h5 class="title">Getting to know you</h5>
          <p class="detail">
            Lorem ipsum dolor sit amet, adipiscing elit, ut labore et dolore magna aliqua.
          </p>
        </div>

        <div class="partner-detail">
          <h5 class="title">Supply employees</h5>
          <p class="detail">
            Lorem ipsum dolor sit amet, adipiscing elit, ut labore et dolore magna aliqua.
          </p>
        </div>

        <div class="partner-detail">
          <h5 class="title">Contract and partnership</h5>
          <p class="detail">
            Lorem ipsum dolor sit amet, adipiscing elit, ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
      <div id="partnership-img-wrapper" class="col-md-8">
        <%= image_tag "class-is-fun.jpg", id:"partnership-img" %>
      </div>
    </div>
  </div>
<!-- </div> -->

