<div class="container no-margin no-padding transition fadeIn"
  data-transition-duration="3s" id="partnership-container">
  <div id="establish-partnership" class="row no-margin">
    <div id="partnership-description" class="col-md-5">
      <h2>Establish partnership with us.</h2>
      <div class="partner-detail">
        <h4 class="title">Getting to know you</h4>
        <p class="detail">
          Lorem ipsum dolor sit amet, adipiscing elit, ut labore et dolore magna aliqua.
        </p>
      </div>

      <div class="partner-detail">
        <h4 class="title">Supply employees</h4>
        <p class="detail">
          Lorem ipsum dolor sit amet, adipiscing elit, ut labore et dolore magna aliqua.
        </p>
      </div>

      <div class="partner-detail">
        <h4 class="title">Contract and partnership</h4>
        <p class="detail">
          Lorem ipsum dolor sit amet, adipiscing elit, ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div id="establish-partnership-img" class="col-md-7">
    </div>
  </div>
</div>
