<div class="container no-margin no-padding transition fadeIn"
  data-transition-duration="3s" id="partnership-container">
  <div id="establish-partnership" class="row no-margin">
    <div id="partnership-description" class="col-md-5">
      <h3>Establish partnership with us.</h3>
      <div class="partner-detail">
        <h5 class="title">Getting to know you</h5>
        <p class="detail">
          Lorem ipsum dolor sit amet, adipiscing elit, ut labore et dolore magna aliqua.
        </p>
      </div>

      <div class="partner-detail">
        <h5 class="title">Supply employees</h5>
        <p class="detail">
          Lorem ipsum dolor sit amet, adipiscing elit, ut labore et dolore magna aliqua.
        </p>
      </div>

      <div class="partner-detail">
        <h5 class="title">Contract and partnership</h5>
        <p class="detail">
          Lorem ipsum dolor sit amet, adipiscing elit, ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div id="establish-partnership-img" class="col-md-7">
    </div>
  </div>
</div>
