<div id="partnership-header" class="transition rotateIn" data-transition-duration="2s">
	<%= render "layouts/navbar" %>
	<div class="page-title-container">
    <h1 class="page-title transition tada" data-transition-delay="2s">Powered by People</h1>
  </div>
</div>