<%= render "layouts/navbar" %>
<div id="partnership-header" class="header container-fluid transition fadeIn" data-transition-duration="1s">
<!-- <div id="partnership-header" class="header container-fluid"> -->
  <div class="page-title-container row">
    <h1 class="page-title text-center">Join Our Network</h1>
  </div>
</div>