<div id="partnership-header">
	<%= render "layouts/navbar" %>
	<span class="partnership-title">We believe the human mind is</span>
	<span class="partnership-title">our fundamental resource.</span>
</div>