<%= render "layouts/navbar" %>
<div id="partnership-header" class="header transition fadeIn" data-transition-duration="1s">
  <div class="page-title-container">
    <h1 class="page-title">Join Our Network</h1>
  </div>
</div>