<div class="container">
  <div class="row partnering-steps-section">
    <div class="col-md-4">
      <h3>Business</h3>
      <span>HR agencies that require workers</span>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6 partnering-step">
          <h4 class="step-number">1</h4>
          <h4 class="step-title">Hiring Order</h4>
          <p class="service-description">
            Company registration, factory registration, proof of permission to hire foreign workers
          </p>
        </div>
        <div class="col-md-6 partnering-step">
          <h4 class="step-number">2</h4>
          <h4 class="step-title">Assess Training</h4>
          <p class="service-description">
            Discussion on the required training for workers prior deployment from us
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 partnering-step">
          <h4 class="step-number">3</h4>
          <h4 class="step-title">Recruiting Period</h4>
          <p class="service-description">
            Provide number of days for us to recruit
          </p>
        </div>
        <div class="col-md-6 partnering-step">
          <h4 class="step-number">4</h4>
          <h4 class="step-title">Screening Interview</h4>
          <p class="service-description">
            Company registration, factory registration, proof of permission to hire foreign workers
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 partnering-step">
          <h4 class="step-number">5</h4>
          <h4 class="step-title">Documentation Preparation</h4>
          <p class="service-description">
            Worker personal document preparation and VISA application
          </p>
        </div>
        <div class="col-md-6 partnering-step">
          <h4 class="step-number">6</h4>
          <h4 class="step-title">Payment</h4>
          <p class="service-description">
            Payment for recruiting and documentation
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row partnering-steps-section">
    <div class="col-md-4">
      <h3>Personal</h3>
      <span>Employers who require workers</span>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6 partnering-step">
          <h4 class="step-number">1</h4>
          <h4 class="step-title">Hiring Order</h4>
          <p class="service-description">
            Company registration, factory registration, proof of permission to hire foreign workers
          </p>
        </div>
        <div class="col-md-6 partnering-step">
          <h4 class="step-number">2</h4>
          <h4 class="step-title">Assess Training</h4>
          <p class="service-description">
            Discussion on the required training for workers prior deployment from us
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 partnering-step">
          <h4 class="step-number">3</h4>
          <h4 class="step-title">Recruiting Period</h4>
          <p class="service-description">
            Provide number of days for us to recruit
          </p>
        </div>
        <div class="col-md-6 partnering-step">
          <h4 class="step-number">4</h4>
          <h4 class="step-title">Screening Interview</h4>
          <p class="service-description">
            Company registration, factory registration, proof of permission to hire foreign workers
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 partnering-step">
          <h4 class="step-number">5</h4>
          <h4 class="step-title">Documentation Preparation</h4>
          <p class="service-description">
            Worker personal document preparation and VISA application
          </p>
        </div>
        <div class="col-md-6 partnering-step">
          <h4 class="step-number">6</h4>
          <h4 class="step-title">Payment</h4>
          <p class="service-description">
            Payment for recruiting and documentation
          </p>
        </div>
      </div>
    </div>
  </div>
</div>