<div class="container">
  <div class="row partnering-steps-section">
    <div class="col-md-4 transition fadeInUp" data-transition-duration="1s" data-transition-delay="0.5s">
      <h3 class="section-title">Business</h3>
      <span class="section-subtext">HR agencies that require workers</span>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6 partnering-step transition fadeInUp" data-transition-duration="1s" data-transition-delay="0.7s">
          <h5 class="step-number">1</h5>
          <h5 class="step-title">Hiring Order</h5>
          <p class="service-description">
            Company registration, factory registration, proof of permission to hire foreign workers
          </p>
        </div>
        <div class="col-md-6 partnering-step transition fadeInUp" data-transition-duration="1s" data-transition-delay="0.9s">
          <h5 class="step-number">2</h5>
          <h5 class="step-title">Assess Training</h5>
          <p class="service-description">
            Discussion on the required training for workers prior deployment from us
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 partnering-step transition fadeInUp" data-transition-duration="1s" data-transition-delay="1.1s">
          <h5 class="step-number">3</h5>
          <h5 class="step-title">Recruiting Period</h5>
          <p class="service-description">
            Provide number of days for us to recruit
          </p>
        </div>
        <div class="col-md-6 partnering-step transition fadeInUp" data-transition-duration="1s" data-transition-delay="1.2s">
          <h5 class="step-number">4</h5>
          <h5 class="step-title">Screening Interview</h5>
          <p class="service-description">
            Company registration, factory registration, proof of permission to hire foreign workers
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 partnering-step transition fadeInUp" data-transition-duration="1s" data-transition-delay="0.3s">
          <h5 class="step-number">5</h5>
          <h5 class="step-title">Documentation Preparation</h5>
          <p class="service-description">
            Worker personal document preparation and VISA application
          </p>
        </div>
        <div class="col-md-6 partnering-step transition fadeInUp" data-transition-duration="1s" data-transition-delay="0.5s">
          <h5 class="step-number">6</h5>
          <h5 class="step-title">Payment</h5>
          <p class="service-description">
            Payment for recruiting and documentation
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row partnering-steps-section">
    <div class="col-md-4 transition fadeInUp" data-transition-duration="1s" data-transition-delay="0.3s">
      <h3 class="section-title">Personal</h3>
      <span class="section-subtext">Employers who require workers</span>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6 partnering-step transition fadeInUp" data-transition-duration="1s" data-transition-delay="0.5s">
          <h5 class="step-number">1</h5>
          <h5 class="step-title">Hiring Order</h5>
          <p class="service-description">
            Company registration, factory registration, proof of permission to hire foreign workers
          </p>
        </div>
        <div class="col-md-6 partnering-step transition fadeInUp" data-transition-duration="1s" data-transition-delay="0.7s">
          <h5 class="step-number">2</h5>
          <h5 class="step-title">Assess Training</h5>
          <p class="service-description">
            Discussion on the required training for workers prior deployment from us
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 partnering-step transition fadeInUp" data-transition-duration="1s" data-transition-delay="0.3s">
          <h5 class="step-number">3</h5>
          <h5 class="step-title">Recruiting Period</h5>
          <p class="service-description">
            Provide number of days for us to recruit
          </p>
        </div>
        <div class="col-md-6 partnering-step transition fadeInUp" data-transition-duration="1s" data-transition-delay="0.5s">
          <h5 class="step-number">4</h5>
          <h5 class="step-title">Screening Interview</h5>
          <p class="service-description">
            Company registration, factory registration, proof of permission to hire foreign workers
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 partnering-step transition fadeInUp" data-transition-duration="1s" data-transition-delay="0.3s">
          <h5 class="step-number">5</h5>
          <h5 class="step-title">Documentation Preparation</h5>
          <p class="service-description">
            Worker personal document preparation and VISA application
          </p>
        </div>
        <div class="col-md-6 partnering-step transition fadeInUp" data-transition-duration="1s" data-transition-delay="0.5s">
          <h5 class="step-number">6</h5>
          <h5 class="step-title">Payment</h5>
          <p class="service-description">
            Payment for recruiting and documentation
          </p>
        </div>
      </div>
    </div>
  </div>
</div>