<h5 class="section-title">How to Get Workers</h5>
<div class="hiring-steps-tabs">
  <span class="hiring-steps-tab">direct employer</span>
  <span class="hiring-steps-tab">HR agency</span>
</div>

<div id="step-blocks">
  <div class="step-description transition fadeIn" data-transition-delay="0s">
    <h4 class="step-number">Step 1</h5>
    <h4 class="step-title">Hiring Order</h5>
    <p class="step-detail">
      Company registration, factory registration, proof of permission to hire foreign workers
    </p>
  </div>

  <div class="step-description transition fadeIn" data-transition-delay="0.1s">
    <h4 class="step-number">Step 2</h5>
    <h4 class="step-title">Assess Training</h5>
    <p class="step-detail">
      Discussion on the required training for workers prior deployment from us
    </p>
  </div>

  <div class="step-description transition fadeIn" data-transition-delay="0.2s">
    <h4 class="step-number">Step 3</h5>
    <h4 class="step-title">Recruiting Period</h5>
    <p class="step-detail">
      Provide number of days for us to recruit
    </p>
  </div>

  <div class="step-description transition fadeIn" data-transition-delay="0.3s">
    <h4 class="step-number">Step 4</h5>
    <h4 class="step-title">Screening Interview</h5>
    <p class="step-detail">
      Company registration, factory registration, proof of permission to hire foreign workers
    </p>
  </div>

  <div class="step-description transition fadeIn" data-transition-delay="0.4s">
    <h4 class="step-number">Step 5</h5>
    <h4 class="step-title">Documentation Preparation</h5>
    <p class="step-detail">
      Worker personal document preparation and VISA application
    </p>
  </div>

  <div class="step-description transition fadeIn" data-transition-delay="0.5s">
    <h4 class="step-number">Step 6</h5>
    <h4 class="step-title">Payment</h5>
    <p class="step-detail">
      Payment for recruiting and documentation
    </p>
  </div>
</div>