<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="service-detail transition fadeIn" data-transition-duration="1s" data-transition-delay="0">
        <h5>Step 1</h5>
        <h5 class="service-title">Hiring Order</h5>
        <p class="service-description">
          Company registration, factory registration, proof of permission to hire foreign workers
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-detail transition fadeIn" data-transition-duration="1s" data-transition-delay="0.2s">
        <h5>Step 2</h5>
        <h5 class="service-title">Assess Training</h5>
        <p class="service-description">
          Discussion on the required training for workers prior deployment from us
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-detail transition fadeIn" data-transition-duration="1s" data-transition-delay="0.4s">
        <h5>Step 3</h5>
        <h5 class="service-title">Recruiting Period</h5>
        <p class="service-description">
          Provide number of days for us to recruit
        </p>
      </div>
    </div>
  </div>
  <div class="row" id="services-row-two">
    <div class="col-md-4">
      <div class="service-detail">
        <h5>Step 4</h5>
        <h5 class="service-title">Screening Interview</h5>
        <p class="service-description">
          Company registration, factory registration, proof of permission to hire foreign workers
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-detail">
        <h5>Step 5</h5>
        <h5 class="service-title">Documentation Preparation</h5>
        <p class="service-description">
          Worker personal document preparation and VISA application
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service-detail">
        <h5>Step 6</h5>
        <h5 class="service-title">Payment</h5>
        <p class="service-description">
          Payment for recruiting and documentation
        </p>
      </div>
    </div>
  </div>
</div>