<!-- This is a hack to restart wow.js animation. Need page specific js -->
<%= javascript_tag do %>
  new ScrollTransition().init();
<% end %>

<%= render "header" %>
<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h3 id="mission-statement-title">Our Mission</h3>
			</div>
			<div class="col-md-9" id="mission-statement-text">
				<span>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
				</span>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row partner-tiles">
			<div class="col-md-8" id="tile-taiwan">
				<div class="partner-img-block">
					<h4>Taiwan</h4>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
					</p>
				</div>
			</div>
			<div class="col-md-4" id="tile-hongkong">
				<div class="partner-img-block">
					<h4>Hong Kong</h4>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
					</p>
				</div>
			</div>
		</div>

		<div class="row partner-tiles">
			<div class="col-md-4" id="tile-singapore">
				<div class="partner-img-block">
					<h4>Singapore</h4>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
					</p>
				</div>
			</div>
			<div class="col-md-8" id="tile-malaysia">
				<div class="partner-img-block">
					<h4>Malaysia</h4>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
					</p>
				</div>
			</div>
		</div>

		<div class="row partner-tiles">
			<div class="col-md-8" id="tile-japan">
			  <div class="partner-img-block">
					<h4>Japan</h4>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
					</p>
				</div>
			</div>
			<div class="col-md-4" id="tile-macau">
			  <div class="partner-img-block">
					<h4>Macau</h4>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
					</p>
				</div>
			</div>
		</div>
	</div>

	<div id="hiring-process">
		<h4 class="small-title">
			Process of getting workers
		</h4>
		<div class="row">
			
			<div class="recruit-instructions col-md-7 col-md-offset-5">
				<div class="instructions-tabs">
					<a>Direct Employers</a>
					<a>HR Agencies</a>
				</div>
				<div class="instruction-detail">
					<span class="rounded-number">1</span>
					<span class="instruction">Submit personal information</span>
				</div>
				<div class="instruction-detail">
					<span class="rounded-number">2</span>
					<span class="instruction">Health check</span>
				</div>
				<div class="instruction-detail">
					<span class="rounded-number">3</span>
					<span class="instruction">Online and on-site screening from potential employers</span>
				</div>
				<div class="instruction-detail">
					<span class="rounded-number">4</span>
					<span class="instruction">Verify provided information</span>
				</div>
				<div class="instruction-detail">
					<span class="rounded-number">5</span>
					<span class="instruction">Skill sets and language test</span>
				</div>
				<div class="instruction-detail">
					<span class="rounded-number">6</span>
					<span class="instruction">Submit personal information</span>
				</div>
			</div>

		</div>
	
	</div>
	<h4 class="small-title">
		Establish partnership
	</h4>
	<div class="container">
		<div class="row">
		</div>
		<div class="row">
			<div class="col-md-4">
				<span>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
				</span>
			</div>
			<div class="col-md-4">
				<span>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
			</div>
			<div class="col-md-4">
				<span>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
				</span>
			</div>
		</div>
	</div>
	<div id="become-our-partner">
		<h1>Become our partner today</h1>
		<p>
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
		</p>
		<div class="three-sided-border-container" id="join-button">
			<a class="three-sided-border">Send</a>
		</div>
	</div>
</div>