<%= render 'header' %>
<div class="page-content transition fadeIn" data-transition-duration="1s"  id="partnership-page-content">
  <%= render 'hiring_steps' %>
  <%= render 'establish_partnership' %>
  <%= render 'become_partners' %>
</div>