<%= render 'header' %>
<div class="page-content transition fadeIn" data-transition-duration="2s"  id="service-page-content">
  <%= render 'hiring_steps' %>
  <%= render 'establish_partnership' %>
  <%= render 'become_partners' %>
</div>