<div id="company-statement">
  <div class="company-statement-content transition fadeIn" data-transition-duration="2s" data-transition-delay="0s" data-transition-offset="100">
    <div class="flex-wrapper">
      <h2>
        Lucky Country assists the enterprise and family to recruit satisfactory foreign workers since 1994.
      </h2>
    </div>
    
    <div class="flex-wrapper">
<!--       <div class="three-sided-border-container">
        < %=link_to "View Services", "services", class: "three-sided-border" %>
      </div> -->
      <%= render "layouts/three_border_button" %>
    </div>
  </div>
</div>