<div id="about-header" class="header transition fadeIn" data-transition-duration="4s">
	 <%= render "layouts/navbar" %>
  <div class="page-title-container">
	  <h1 class="page-title">We believe the human mind is our fundamental resource.</h1>
  </div>
</div>