<div id="about-header" class="header transition fadeIn" data-transition-duration="4s">
   <%= render "layouts/navbar" %>
  <div class="page-title-container">
    <h1 class="page-title">We believe the human mind is our fundamental resource</h1>
    <video autoplay loop class="videoInsert">
        <source src="assets/domains-2" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="assets/domains-2" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
  </div>
</div>