<div id="world-map" class="transition fadeIn visible-lg-block visible-md-block"  data-transition-duration="2s" data-transition-offset="100">
  <%= image_tag "dotted-map2.png", id:"world-map-img" %>
</div>