<div class="container">
  <h3>What we do</h3>
  <div class="row">
    <div class="col-md-4 what-we-do-block">
      <%= image_tag("1_training.png", class: "transition fadeInUp what-we-do-title-img",
          :data => {:transition_delay => '0.5s', :transition_duration => '1s'}) %>
      <div class="transition fadeInUp" data-transition-duration="1s" data-transition-delay="0.3s">
        <h4>Employee Training</h4>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
        </p>
      </div>
    </div>
    <div class="col-md-4 what-we-do-block">
      <%= image_tag("2_prep.png", class: "transition fadeInUp what-we-do-title-img",
          :data => {:transition_delay => '0.7s', :transition_duration => '1s'}) %>
      <div class="transition fadeInUp" data-transition-duration="1s" data-transition-delay="0.5s">
        <h4>Employee Preparation</h4>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
        </p>
      </div>
    </div>
    <div class="col-md-4 what-we-do-block">
      <%= image_tag("3_afterservice.png", class: "transition fadeInUp what-we-do-title-img",
          :data => {:transition_delay => '0.9s', :transition_duration => '1s'}) %>
      <div class="transition fadeInUp" data-transition-duration="1s" data-transition-delay="0.7s">
        <h4>After Care</h4>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
        </p>
      </div>
    </div>
  </div>
</div>