<%= render "header" %>
<div class="page-content transition fadeIn" data-transition-duration="2s" id="about-page-content">
	<%= render "what_we_do" %>
	<%= render "company_statement" %>
	<%= render "map" %>
</div>