<%= render "header" %>
<div class="page-content">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="mission-imgs">
				</div>
				<h5>Employee Training</h5>
				<span>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
				</span>
			</div>
			<div class="col-md-4">
				<div class="mission-imgs">
				</div>
				<h5>Employee Preparation</h5>
				<span>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
			</div>
			<div class="col-md-4">
				<div class="mission-imgs">
				</div>
				<h5>After Care</h5>
				<span>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
				</span>
			</div>
		</div>
	</div>
	<div id="world-map">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h3 id="mission-statement-title">Our Mission</h3>
			</div>
			<div class="col-md-9" id="mission-statement-text">
				<span>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
				</span>
			</div>
		</div>
	</div>
</div>