<%= render "header" %>
<div class="page-content">
	<div class="section-title">
		<h4>What we do</h4>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h5 class="tile-title">Employee Training</h5>
				<span>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
				</span>
			</div>
			<div class="col-md-4">
				<h5 class="tile-title">Employee Preparation</h5>
				<span>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
			</div>
			<div class="col-md-4">
				<h5 class="tile-title">After Care</h5>
				<span>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
				</span>
			</div>
		</div>

		<div class="row partner-tiles">
			<div class="col-md-4" id="title-taiwan">
				<div class="partner-imgs">
					<h4>Taiwan</h4>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
					</p>
				</div>
			</div>
			<div class="col-md-8" id="title-hongkong">
				<div class="partner-imgs">
					<h4>Hong Kong</h4>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
					</p>
				</div>
			</div>
		</div>

		<div class="row partner-tiles">
			<div class="col-md-8" id="title-singapore">
				<div class="partner-imgs">
					<h4>Singapore</h4>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
					</p>
				</div>
			</div>
			<div class="col-md-4" id="title-malaysia">
				<div class="partner-imgs">
					<h4>Malaysia</h4>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
					</p>
				</div>
			</div>
		</div>

		<div class="row partner-tiles">
			<div class="col-md-4" id="title-japan">
			  <div class="partner-imgs">
					<h4>Japan</h4>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
					</p>
				</div>
			</div>
			<div class="col-md-8" id="title-macau">
			  <div class="partner-imgs">
					<h4>Macau</h4>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<div id="mission-statement">
		<h3>Our Mission</h3>
		<p>
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
		</p>
	</div>
</div>