<%= render "layouts/navbar" %>
<div id="contact-header" class="header container-fluid transition fadeIn" data-transition-duration="1s">
  <div class="page-title-container row">
    <h1 class="page-title text-center" id="contact-title">Get in touch</h1>
  </div>
</div>