<div id="contact-header" class="header transition fadeIn" data-transition-duration="1s">
	<%= render "layouts/navbar" %>
  <div class="page-title-container">
    <h1 class="page-title" id="contact-title">Get in touch</h1>
  </div>
</div>