<%= render "header" %>
<div class="container page-content" id="contact-page-content">
	<div class="row">
		<div class="col-md-3 contact-info transition fadeIn" data-transition-duration="0.5s"
			data-transition-delay="1s">
			<h4>
			  Jakarta
			</h4>
			<div id="addr">
				<span>Herengracht 477</span>
				<span>1017 BS Jakarta, Indonesia</span>
			</div>
			<p id="phone">+31 20 708 2572</p>
			<p id="email">contact@lucky.com</p>
			<%=link_to "Get Direction", "#"%>
		</div>

		<div class="col-md-9 transition fadeIn" data-transition-duration="0.5s"
			data-transition-delay="1.5s" id="contact-form">
			<form>
			  <div>
			    <input type="text" id="contact-name-input" placeholder="NAME">
			  </div>
			  <div>
			    <input type="email" id="contact-email-input" placeholder="EMAIL">
			  </div>
			  <div>
			  	<textarea rows="8" placeholder="MESSAGE" id='test'></textarea>
			  </div>
			</form>
			<div class="three-sided-border-container pull-right">
				<a class="three-sided-border">Send</a>
			</div>
		</div>
	</div>
</div>