<%= javascript_tag do %>
  new ScrollTransition().init();
  initNavbarState();
<% end %>
<%= render "header" %>
<div class="container page-content" id="contact-page-content">
	<div class="row">
		<div class="col-md-4 contact-info transition fadeInUp" data-transition-duration="0.7s" data-transition-delay="1s">
			<h4>
			  Jakarta
			</h4>
			<div id="addr">
				<span>Herengracht 477 1017 BS Jakarta, Indonesia</span>
			</div>
			<p id="phone">+31 20 708 2572</p>
			<p id="email">contact@lucky.com</p>
			<!-- < %=link_to "Get Direction", "#"%> -->
		</div>

		<div class="col-md-8 transition fadeInUp" data-transition-duration="1s" data-transition-delay="1.5s" id="contact-form-div">
			<form id="contact-form" accept-charset="UTF-8" action="contact/email" method="post">
			  <div>
			    <input type="text" id="contact-name" name="name" placeholder="Name">
			  </div>
			  <div>
			    <input type="email" id="contact-email" name="email" placeholder="Email">
			  </div>
			  <div>
			  	<textarea rows="8" placeholder="Message" name="message" id='contact-text'></textarea>
			  </div>
			</form>
			<div class="three-sided-border-container pull-right">
				<a class="three-sided-border" id="send-mail"
					onclick="$.post('contact/email',( $('#contact-form').serialize()));">
				Send</a>
			</div>
		</div>
	</div>
</div>