$white-nav-hover-color: #dddddd;

/* header.html.erb */
#about-header {
	height: 600px;
  position: relative;
  color: white;

  // Override the Bootstrap default for this page
  .navbar-static-top li a {
    color: white;
  }

  .navbar-static-top li a:hover {
    color: $white-nav-hover-color;
  }
}
/* End */

#about-page-content {
  margin-top: 20px;
  margin-bottom: 0;
}

.what-we-do-block {
  h4 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
  }
  
}

#company-statement {
  height: 456px;
  display: flex;
  align-items: center;
  
  .company-statement-content {

    h2 {
      margin-left: 180px;
      margin-right: 180px;
    }

    .three-sided-border-container {
      left: 40%;
      width: 250px;
    }
  }
}

#world-map {
  background-image: url("dotted-map2.png");
  background-size: 100% 100%;
  height: 529px;
}
