$template-color: #615F5F;

#about-header {
	// Background image for the page header
	background-image: url("about_banner1.jpeg");
	background-size: 100%;
  background-repeat: no-repeat;
	height: 600px;
}

.about-title {
	text-align: center;
	vertical-align: middle;
  font-size: 24px;
  font-weight: 100;
  display: block;

  // position: fixed;
  // top: 25%;
  // left: 50%;
  // -webkit-transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%);
}

#mission-statement {
	h3 {
		text-align: center;
		vertical-align: middle;
	}

	p {
		margin-left: 300px;
  	margin-right: 300px;
	}
}

.section-title h4 {
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

// Tiles of different countries
.tile-title {
	text-align: center;
}

.partner-tiles {
	margin-top: 20px;
	margin-bottom: 20px;
}

.partner-imgs {
	background-color: $template-color;
	background-size: cover;
	height: 200px;
	padding-left: 20px;
	position: relative;
	color: white;

	h4 {
		vertical-align: bottom;
		position: absolute;
		bottom: 50px;
	}

	p {
		vertical-align: bottom;
		position: absolute;
		bottom: 0;
		max-width:400px;
    word-wrap:break-word;
	}
}