$template-color: #615F5F;
$grey: #444444;
$light-grey: #575757;

#about-header {
	// Background image for the page header
	background-image: url("about_banner.jpeg");
	background-size: 100% 408px;
  background-repeat: no-repeat;
	height: 408px;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.about-title {
  font-weight: 100;
  max-width: 600px;
  word-wrap:break-word;
  text-align: center;
}

// This should be a h5 style.
h5.section-title {
  font-weight: lighter;
  font-size: 32px;
  color: $grey;
  text-align: center;
}

.what-we-do-block {
  h5 {
    font-weight: lighter;
    font-size: 24px;
    color: $grey;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  span {
    font-weight: lighter;
    font-size: 16px;
    color: $light-grey;
    display: block;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
  }
  
}

#company-statement {
  // margin-top: 80px;
  height: 456px;
  display: flex;
    align-items: center;
  
  .company-statement-content {

    p {
      margin-left: 120px;
      margin-right: 120px;
      font-weight: lighter;
      font-size: 40px;
      color: $grey;
    }

    .three-sided-border-container {
      left: 40%;
      width: 250px;
    }
  }

}

.partner-tiles {
	margin-top: 30px;
	margin-bottom: 30px;
}


#tile-taiwan .partner-img-block {
  background-image: url("taiwan.png");
}

#tile-hongkong .partner-img-block {
  background-image: url("hongkong.png");
}

#tile-singapore .partner-img-block {
  background-image: url("singapore.png");
}

#tile-malaysia .partner-img-block {
  background-image: url("malaysia.png");
}

#tile-japan .partner-img-block {
  background-image: url("japan.png");
}

#tile-macau .partner-img-block {
  background-image: url("macau.png");
}

.partner-img-block {
  background-size: 100% 100%;
  height: 302px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  color: white;

	h4 {
		position: absolute;
		bottom: 55px;
    font-size: 32px;
    font-weight: lighter;
	}

	p {
		position: absolute;
		bottom: 5px;
		max-width:320px;
    word-wrap:break-word;

    font-size: 16px;
    font-weight: lighter;
    display: block;
	}
}
