@import "*";

$footer-height: 45px;
$footer-color: #f5f5f5;
$footer-font-size: 9px;
$navbar-font-size: 11px;

// Aligns nav bar options with the logo
.navbar-nav li a {
	@include url-style($navbar-font-size);
  line-height: 40px;
}

.page-content {
	margin-top: 40px;
	margin-bottom: 40px;
}

.footer {
  // position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $footer-color;

  .footer-content {
		@include url-style($footer-font-size);
		vertical-align: middle;
		line-height: $footer-height;
		padding-left: 25px;
		padding-right: 25px;

		.footer-links a {
			padding-right: 25px;
		}

		.footer-social a {
			padding-left: 10px;
		}
	}
}

// .hidden {
// 	display: none;
// }

.hidden {
  opacity:0;
}

.visible {
  opacity:1;
}

.no-margin {
  margin: 0px;
}

.no-side-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.no-padding {
  padding: 0px;
}

.no-side-padding {
  padding-left: 0px;
  padding-right: 0px;
}

/* Fonts */
body {
  // Need to override all Bootstrap
  font-family: 'Roboto';
  // font-family: 'Poppins', sans-serif;
}

/*
 * Keyframes
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


@font-face {
  font-family: 'benton-sans-book';
  src:url('fonts/benton-sans-book.eot');
  src:url('fonts/benton-sans-book.eot?#iefix') format('embedded-opentype'),
    url('fonts/benton-sans-book.svg#benton-sans-book') format('svg'),
    url('fonts/benton-sans-book.woff') format('woff'),
    url('fonts/benton-sans-book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'benton-sans-medium';
  src:url('fonts/benton-sans-medium.eot');
  src:url('fonts/benton-sans-medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/benton-sans-medium.svg#benton-sans-medium') format('svg'),
    url('fonts/benton-sans-medium.woff') format('woff'),
    url('fonts/benton-sans-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'benton-sans-light';
  src:url('fonts/benton-sans-light.woff');
  src:url('fonts/benton-sans-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}