@import "*";

// .page-title-container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 200px;
// }

// .page-title {
//   max-width: 600px;
//   word-wrap:break-word;
// }

// .hidden {
// 	display: none;
// }

// .hidden {
//   opacity:0;
// }

// .visible {
//   opacity:1;
// }

// .no-margin {
//   margin: 0px;
// }

// .no-side-margin {
//   margin-left: 0px;
//   margin-right: 0px;
// }

// .no-padding {
//   padding: 0px;
// }

// .no-side-padding {
//   padding-left: 0px;
//   padding-right: 0px;
// }

// /*
//  * Keyframes
//  */

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}