#contact-header {
	// Background image for the page header
	background-image: url("contact_banner.jpeg");
	background-size: cover;
  background-repeat: no-repeat;
	height: 490px;
}

.header-title {
	text-align: center;
	vertical-align: middle;
	line-height: 400px;
	color: white;
  font-size: 54px;
  font-weight: 100;
}

#addr span {
	// Separate address into separate lines for display
	display: block;
}