$white-nav-hover-color: #dddddd;

#contact-header {
	// Background image for the page header
	background-image: url("blue-wall.jpeg");
	background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 30%;

  #contact-title {
    color: white;
  }
}

// #contact-page-content {
//   margin-top: 40px;
//   margin-bottom: 40px;
// }

// .contact-info {
// 	margin-left: 145px;
// }

// #addr span {
// 	// Separate address into separate lines for display
//   // Not using p to avoid overriding default margin
// 	display: block;
// }

// #contact-form-div {
// 	width: 50%;

// 	textarea:focus {
//     outline: 0;n
//     border-style: solid;
// 	}

// 	input:focus {
//     outline: 0;
// 	}

// 	textarea, input {
// 		border-width: 1px;
// 		border-style: none none solid none;
// 		width: 100%;
// 		margin-bottom: 20px;
// 		resize: none;
// 	}
// }