$navbar-font-size: 1em;
$float-nav-color: rgba(255, 255, 255, 0.97);
$nav-default-color: #333;
$nav-hover-color: #666;
$default-text-color: #444444;

/* Common Styles for the Application */
$link-color: black;

@mixin url-style($font-size) {
  color: $link-color;
  font-size: $font-size;
  letter-spacing: 0.01em;
}

.navbar-default {
  background: none;
  border-style: none;
}

.navbar-nav li a:hover {
  color:  $nav-hover-color;
}

#page-urls .not-floating-navbar li a {
  color: white;
}

#page-urls .floating-navbar li a {
  color: $default-text-color;
}

// Hamburger button stripes
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.not-floating-navbar li a:hover {
  color: $white-nav-hover-color;
}

span.floating-text {
  color: $default-text-color;
}

span.not-floating-text {
  color: white;
}

#logo-img {
  display: inline-block;
  padding-right: 0.2em;
}

.floating-nav {
  background-color: $float-nav-color;
}