$template-color: #B2B2B2;
$contact-send-color: #222;
$establish-partnership-background: #282828;
$establish-partnership-detail: #c2c2c2;
$white-nav-hover-color: #dddddd;
$on-hover-color: #222;

// /* Partnership Page */
// #partnership-page-content {
//   margin-top: 20px;
// }

// #partnership-container {
//   width: 100%;
// }
// /* END */

#partnership-header {
  // Background image for the page header
  background-image: asset-url("ny-rooftop.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 90%;
  color: white;
}

/* _hiring_steps.html.erb */
.partnering-steps-section {
  margin-top: 5%;
  margin-bottom: 5%;
}

.section-title {
  text-align: left;
  margin-bottom: 0.7em;
}

.section-subtext {
  color: #666666;
}

.partnering-step {
  margin-top: 1em;
  margin-bottom: 2em;

  h5 {
    display: inline-block;
    margin-bottom: 1em;
  }
}
// /* END */

// /* _establish_partnership.html.erb */
div#partnership-container {
  background-color: $establish-partnership-background;
}

@media (min-width: 0px) {
  #partnership-img-wrapper {
    margin-left: 0em;
    padding-left: 0em;
  }
}

@media (min-width: 576px) {
  #partnership-img-wrapper {
    margin-left: 0em;
    padding-left: 0em;
  }
}

@media (min-width: 576px) {
  #partnership-img-wrapper {
    margin-left: 0em;
    padding-left: 0em;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  #establish-partnership {
    margin-left: 3em;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #establish-partnership {
    margin-left: 3em;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #establish-partnership {
    margin-left: 3em;
  }
}

#partnership-img-wrapper {
  margin-right: 0em;
  padding-right: 0em;
}

#partnership-img {
  width: 100%;
  height: 80%;
}

#partnership-description {
  // padding-left: 100px;

  h3, h5, p {
    display:block;
    width:85%;
    word-wrap:break-word;
    
  }

  h3, h5 {
    color: white;
  }

  p {
    color: $establish-partnership-detail;
  }

  h3 {
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: left;
  }

  .partner-detail {
    .title {
      margin-bottom: 1em;
    }

    .detail {
      margin-bottom: 2.5em;
    }
  }
}
// /* END */

.become-our-partner {
  margin-top: 10%;
  margin-bottom: 10%;
  // padding-top: 90px;
  // padding-bottom:90px;
  // height: 450px;
  // background-color: #f2f2f2;

  h2 {
    margin-bottom: 1em;
  }

  p {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    margin-bottom: 3em;
  }

  // .three-sided-border-container {
  //   // left: 40%;
  //   // width: 25%;
  // }

  // div.three-sided-border:before {
  //   background-color: $on-hover-color;
  // }
}

@media (max-width: 576px) {
  .become-our-partner {
    p {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
}