$service-detail-border: #bfbfbf;
$service-hover-color: #ffffff;
$white-nav-hover-color: #dddddd;
$on-hover-color: #222;
$recruitment-background: #282828;

#services-header {
	// Background image for the page header
  background-image: url("worker_back.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 90%;
  color: white;
}

#service-page-content {
  // Different from other pages because of the padding-top
  // of service details 
  // margin-top: 10%;
  // max-width: 1200px;
}

#service-categories {
  margin-top: 5%;
  margin-bottom: 5%;
}

// categories partial
.service-detail {
  border-bottom-color: $service-detail-border;
  border-bottom-style: solid;
  border-bottom-width: 0.1em;
  padding: 1em 1em 1em 1em;
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: linear;

  &:hover {
    background-color: $text-color;
    border: none;
    color: $service-hover-color;

    h4.service-title, p.service-description {
      color: $service-hover-color;
    }
  }

  h4.service-title {
    margin-top: 0em;
  }

  p.service-description {
    margin-top:0.5em;
  }
}

#services-row-two {
  margin-bottom: 4em;
}

#recruitment-container {
  background-color: $recruitment-background;
}

#recruitment-img-wrapper {
    margin-left: 0em;
    padding-left: 0em;
}

@media (min-width: 0px) {
  #recruitment-img-wrapper {
    margin-right: 0em;
    padding-right: 0em;
  }
}

@media (min-width: 576px) {
  #recruitment-img-wrapper {
    margin-right: 0em;
    padding-right: 0em;
  }
}

@media (min-width: 576px) {
  #recruitment-img-wrapper {
    margin-right: 0em;
    padding-right: 0em;
  }
}

#recruitment-img {
  width: 100%;
  height: 80%;
}

#recruitment-description {
  padding-left: 4em;

  h3, span {
    color: white;
  }

  h3 {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .recruitment-detail {
    margin-bottom: 2em;

    .detail {
      width: 80%;
      word-wrap:break-word;
    }
  }
}