$text-color: #444444;
$small-text-color: #333;

@media (min-width: 576px) { 
  h1 {
    font-size: 48px;
    letter-spacing: 2px;
  }

  h2 {
    line-height: 48px;
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
    letter-spacing: 0.1rem;
  }

  h5 {
    font-size: 18px;
    letter-spacing: 0.1rem;;
  }

  span, p {
    font-size: 14px;
  }

  a {
    font-size: 11px;
    letter-spacing: 1px;
  }

  a.three-sided-border {
    font-size:14px;
  }

  span.small-text, p.small-text {
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 40px;
  }
}

@media (max-width: 576px) { 
  h1 {
    font-size: 28px;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 26px;
    line-height: 24px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
    letter-spacing: 0.1rem;
  }

  h5 {
    font-size: 18px;
    letter-spacing: 0.1rem;;
  }

  span, p {
    font-size: 14px;
  }

  a {
    font-size: 11px;
    letter-spacing: 1px;
  }

  span.small-text, p.small-text {
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 40px;
  }
}


/* Not affected by screen size */

h1 {
  font-weight: lighter;
  text-align: center;
  
}

h2 {
  color: $text-color;
  font-weight: lighter;
  text-align: center;
}

h3 {
  font-weight: lighter;
  color: $text-color;
  text-align: center;
}

h4 {
  color: $text-color;
  text-align: left;
  font-weight: 300;
}

h5 {
  font-weight: 300;
  text-align: left;
}

span, p, a {
  font-weight: 300;
  color: $text-color;
  letter-spacing: 0.5px;
}

span.small-text, p.small-text {
  text-transform: uppercase;
  color: $small-text-color;
}

/* Fonts */
body {
  font-family: 'Roboto';
}