<footer class="footer">
	<div class="footer-content">
    <select class="selectpicker">
      <option>English</option>
      <option>中文（繁體）</option>
      <option>Bahasa Indonesia</option>
    </select>
	  <div class="footer-social pull-right">
	  	<span id="copyright-text">&copy;<%= Time.now.year %> Lucky Country. All rights reserved.</span>
	  </div>
  </div>
</footer>