<footer class="footer">
	<div class="footer-content">
		  <select name="post[author_id]" id="post_author_id" class="pull-left">
			  <option class="option" value="1" selected="selected">English</option>
			  <option class="option" value="2">Chinese</option>
			  <option class="option" value="3">Indonesian</option>
			</select>
	  <div class="footer-social pull-right">
	  	<span id="copyright-text">&copy;<%= Time.now.year %> Lucky Country. All rights reserved.</span>
	  </div>
  </div>
</footer>